@page "/Comportamiento"

<PageTitle>Comportamiento</PageTitle>

<h1>COMPORTAMIENTO</h1>

 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<body>
  <div class="container">
    <h1>Estado de Usuarios</h1>
    <table class="table">
      <thead>
        <tr>
          <th>Nombre de Usuario</th>
          <th>Estado</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Usuario 1</td>
          <td><span class="badge badge-pill badge-success">Buen Comportamiento</span></td>
        </tr>
        <tr>
          <td>Usuario 2</td>
          <td><span class="badge badge-pill badge-danger">Mal Comportamiento</span></td>
        </tr>
        <tr>
          <td>Usuario 3</td>
          <td><span class="badge badge-pill badge-warning">Regular</span></td>
        </tr>
      </tbody>
    </table>
  </div>

</body>