
@page "/"


<!-- Login and Request Loan buttons -->
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-body text-center">
                    <h5 class="card-title mb-4">Iniciar sesión</h5>
                    <a href="Login" class="btn btn-primary btn-block mb-3">Ingresar</a>
                    <p class="mt-3">¿No tienes una cuenta? <a href="RegistroUsr">Regístrate aquí</a></p>
                </div>
            </div>
        </div>
    </div>
</div>