@page "/Login"
@inject HttpClient http
@using BancoGogh.Shared.Models
@using Microsoft.AspNetCore.Components.Forms
@using System.Net.Http.Json

@inject NavigationManager NavigationManager



<PageTitle>Login</PageTitle>

<h1>Inicio de Sesion</h1>

 <style>
    body {
      background-color: #f7f7f7;
    }

    .card {
      margin-top: 60px;
      margin-bottom: 60px;
      background-color: #fff;
      -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
      -moz-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
      box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
    }

    .card-header {
      background-color: #007bff;
      color: #fff;
      text-align: center;
      font-weight: bold;
      font-size: 24px;
      border-bottom: none;
    }

    .card-body {
      padding: 40px;
    }

    .form-control {
      border-radius: 20px;
    }

    .btn-primary {
      background-color: #007bff;
      border-color: #007bff;
      border-radius: 20px;
      font-weight: bold;
    }

    .btn-primary:hover {
      background-color: #0069d9;
      border-color: #0062cc;
    }

    .form-control:focus {
      box-shadow: none;
    }

    .form-control::placeholder {
      color: #9ea4ae;
      font-style: italic;
    }

    .form-group {
      margin-bottom: 30px;
    }
  </style>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    Login
                </div>
                <div class="card-body">
                    <EditForm Model="@Cuenta" OnValidSubmit="@HandleSubmit">
                        <div class="form-group mb-3">
                            <label for="username">Username</label>
                            <InputText type="text" class="form-control" id="CurpUsr" placeholder="Enter username" @bind-Value="@Cuenta.nickname" required/>
                        </div>
                        <div class="form-group mb-3">
                            <label for="password">Password</label>
                            <InputText type="password" class="form-control" id="Contrasenia" placeholder="Enter password" @bind-Value="@Cuenta.password" required />
                        </div>
                        <button type="submit" class="btn btn-primary btn-block">Login</button>
                    </EditForm>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
private Cuenta Cuenta {get;set;} = new();
private async Task HandleSubmit()
{
  Console.WriteLine(Cuenta .nickname);
  Console.WriteLine(Cuenta .password);
   
    var response = await http.PostAsJsonAsync("api/Banco/GetById", Cuenta);
    if (response.IsSuccessStatusCode)
    {
        var cuenta = await response.Content.ReadFromJsonAsync<Cuenta>();
        Console.WriteLine(cuenta.Id_Usuario);

        if(cuenta.Id_Usuario != 0){
            NavigationManager.NavigateTo("/rifa");
        }else{
          NavigationManager.NavigateTo("/counter");
        }
        
    }
    else
    {
        Console.WriteLine("No jala ue");
    }
}

  
}