@page "/Prestamos"

<PageTitle>Prestamos</PageTitle>

    <h1>Prestamos</h1>
<body>
<div class="container">
    <div class="row">
      <div class="col-12">
        <table class="table">
          <thead>
            <tr>
              <th>Folio</th>
              <th>Fecha de solicitud</th>
              <th>Fecha de aprobación</th>
              <th>Pago por mes</th>
              <th>Fecha de último pago recibido</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>001</td>
              <td>01/01/2022</td>
              <td>05/01/2022</td>
              <td>$1,000.00</td>
              <td>01/06/2022</td>
              <td>
              </td>
            </tr>
            <tr>
              <td>002</td>
              <td>03/01/2022</td>
              <td>10/01/2022</td>
              <td>$1,500.00</td>
              <td>03/06/2022</td>
              <td>
              </td>
            </tr>
            <tr>
              <td>002</td>
              <td>03/01/2022</td>
              <td>10/01/2022</td>
              <td>$1,500.00</td>
              <td>03/06/2022</td>
              <td>
              </td>
            </tr>
            <!-- Continúa agregando más préstamos -->
          </tbody>
        </table>
      </div>
    </div>
  </div>
  </body>