@page "/ReportesGerenteVer"

<head>
  <meta charset="UTF-8">
  <title>Reportes de Gerente</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
</head>
<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Reportes de Gerente</a>
      </div>
    </div>
  </nav>

  <div class="container">
    <h3>Reporte de préstamos</h3>
    <p>A continuación se presenta el número de préstamos aprobados por día:</p>
    <table class="table table-success table-striped">
      <thead>
        <tr>
          <th>N° de folio del préstamo</th>
          <th>Nombre del cliente</th>
          <th>Fecha de solicitud</th>
          <th>Fecha de aprobación</th>
          <th>Último pago recibido</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>Juan Perez</td>
          <td>2017-01-01</td>
          <td>2017-01-02</td>
          <td>2022-03-15</td>
        </tr>
        <tr>
          <td>2</td>
          <td>María Garcia</td>
          <td>2017-01-01</td>
          <td>2017-01-02</td>
          <td>2022-04-01</td>
        </tr>
        <tr>
          <td>3</td>
          <td>Pedro Rodriguez</td>
          <td>2017-01-01</td>
          <td>2017-01-02</td>
          <td>2022-02-27</td>
        </tr>
      </tbody>
    </table>
    </div>
</body>

