@page "/Rifa"

<PageTitle>Rifa</PageTitle>

<h1>Good luck</h1>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<body>
  <div class="container">
    <h1>Boletos de Rifa</h1>
    <div class="row">
      <div class="col-12">
        <div class="card-deck">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">#001</h5>
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">#002</h5>
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">#003</h5>
            </div>
        </div>
            <div class="card">
                <div class="card-body">
                  <h5 class="card-title">#004</h5>
                </div>
            </div>
                <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">#005</h5>
                    </div>
                </div>
                    <div class="card">
                        <div class="card-body">
                          <h5 class="card-title">#006</h5>
                        </div>
                    </div>
          </div>
           </div>
      </div>
    </div>
          </body>