@page  "/UsuarioIndex"

<head>
	<title>Bienvenido a tu perfil</title>
	<style>
		body {
			background-image: url('https://francoaldrete.com/ropainv.jpg');
			background-size: auto;
			background-position: center center;
			font-family: Arial, sans-serif;
			font-size: 16px;
			line-height: 1.5;
			margin: 0;
			padding: 0;
			color: #fff;
			text-align: center;
		}

		header {
			background-color: rgba(0, 0, 0, 0.5);
			padding: 10px;
		}

		h1 {
			font-size: 48px;
			margin-top: 50px;
			margin-bottom: 20px;
			text-shadow: 2px 2px 4px #000;
		}

		p {
			margin-bottom: 20px;
			font-size: 24px;
		}

		button {
			background-color: #ff6600;
			color: #fff;
			border: none;
			border-radius: 5px;
			padding: 10px 20px;
			font-size: 20px;
			font-weight: bold;
			cursor: pointer;
			box-shadow: 2px 2px 4px #000;
			transition: all 0.3s ease;
		}

		button:hover {
			background-color: #e65c00;
			transform: translateY(-5px);
			box-shadow: 4px 4px 6px #000;
		}
	</style>
</head>

<div class="page">
	<div class="sidebar">
		<NavMenuUsuario />
	</div>

	<main>
		<header>
			<h1>Bienvenido a tu perfil Usuario Apestoso</h1>
		</header>
		<main>
			<p>Hola, <strong>Felipe</strong>. ¡Bienvenido a tu perfil!</p>
			<button>Comenzar</button>
		</main>
	</main>
</div>




